*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif
}

header{
    margin: 20px;
}

.title{
    font-size:50px;
    font-weight: 800;
    display: inline-block;
    vertical-align: bottom;
}


.container{
    width: 900px;
    margin: auto;
    padding-top: 60px;
}

.button{
    border: none;
    padding: 10px;
    margin-bottom: 40px;
}

.button.addtask{
    color: white; 
    background-color:#47ADF1;
    border-radius: 7px;
    border: 1px solid;
}

.button.section{
    border: 1px solid rgb(198, 198, 198);
    color: rgb(198, 198, 198); 
    border-radius: 7px;
}


h6{
    font-size:30px;
}
.index-arrow{
    font-size: 15px;
}


.sign{
    font-weight: bold;
    padding: 5px;
    border: 1px solid;
    border-radius: 60%;
    margin-right: 10px;
}

.sign.true{
    color: #61BFA8;
}

.sign.false{
    color: #e1153e;
}

.task-name{
    line-height: 50px;
    font-weight:bold;
}

.task-type{
    font-size: 12px;
    padding: 9px;
    color: white;
    border-radius: 15px;
}

.editorial{
    background-color: #47ADF1;
}

.q1goals{
    background-color:#9C72E4 ;
}
.recruiting{
    background-color:#64C0A9 ;
}
.mobile{
    background-color: #F29E33;

}
.website{
    background-color:#D863A1 ;
}
.sales{
    background-color:#B0C926 ;
}